<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer¹</h3>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco.</p>
        <p>
            <span><img src="~/images/Envelope-icon24.png" /> Envie-nos um email!</span>
            <h5><email endereco="maciel_lpnm@hotmail.com" conteudo="Dúvida, Reclamação ou Sugestão"></email></h5>
            <br />
            <span><img src="~/images/phone-app-icon.png" /></span>
            <h5>(19) 97423-3119</h5>
            <br />
            <span><img src="~/images/Home-iconred.png" /></span>
            <h5>Av. das Palmeiras, 123 - 13403-111 - Piracicaba/SP</h5>
        </p>
    </div>
</div>